.mm{
    background-image: url("https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG91c2UlMjB3aXRoJTIwcG9vbHxlbnwwfHwwfHx8MA%3D%3D");

  background-size: cover;
    height: 800px;
    width: 100%;
}
.nav{
    gap: 20px;
}